.login{
    display: flex;
    align-items:center ;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: rgb(221, 248, 255);


    form{
        background-color: black;
        max-width:400px;
        padding:20px;
        width: 100%;
        border-radius: 5px;
            box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
        
        

        h2{
            font-size: 20px;
            font-weight: bold;
            color:white;
            text-align: center;
        }
        .formInput{
            position:relative;
        }
        .eyeIcon{
            position:absolute;
            top:13px;
            right:0px;
            color:#3139397f;
            font-size: 18px !important;
            padding:5px;
            cursor:pointer;

        }

        button{
            height: 50px;
            width:100%;
            background-color: #0171d3;
            color:white;
            padding:10px;
            border:none;
            border-radius: 5px;
            font-weight: 400;
            font-size: 18px;
            margin:15px 0 10px 0;
            transition:0.5s;
            cursor:pointer;

            &:hover{
                background-color: #00527a;
            }
        }
        .formLink{
            color: white;
            text-align: center;
    
        }
        
    }
    
}