.app__header{
    background-color: var(--color-white);
    background: url('../../assets/front-page-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

.app__header-h1{
    font-family: var(--font-base);
    color: var(--color-blue);
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    /* line-height: 117px; */
    font-size: 90px;

}
.app__wrapper_img img{
    width: 90%;
    height: 100%;
}